<%= link_to "Ver lista completa", products_path %>

<% title = (@user_products_diaper.count > 1) ? 'Minhas fraldas' : 'Minha fralda' %>
<%= render partial: 'products/product_list', locals: { category: title, products: @user_products_diaper } %>

<% title = (@user_products.count > 1) ? 'Meus presentes' : 'Meu presente' %>
<%= render partial: 'products/product_list', locals: { category: title, products: @user_products } %>

<% if @user_products.count == 0 %>
	<li>
		<p>Sua lista de presentes está vazia =(</p>
		<p><%= link_to "Ver lista de presentes", products_path %></p>
	</li>
<% end %> 
</ul>