#user {
	
	background: $blue;
	line-height: 50px;
	height: 50px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 3;

	box-shadow: 0 1px 2px rgba(0,0,0,0.30), 0 0px 1px rgba(0,0,0,0.22);
	transition: .3s;

	&.hide {
		transform: translateY(-100%);
	}
	
	.back-button, .menu-button{ 
    	position: absolute;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
    	display: inline-block;
    	padding: 0px 18px;
		top: 50%;
	}

	.back-button {
		transform: translateY(-50%) rotateY(180deg);		
		left: 0px;
		font-size: 1.5em;
	}

	.menu-button {
		transform: translateY(-50%);
		font-size: 1em;
		right: 0px;
	}

	h1 {
		font-size: 1em; 
		margin: 0px; 
		padding: 0px; 
		display: block; 
		text-align: center;
		color: #fff;
		font-weight: bold; 
	} 

	.menu {
		display: none;
		background: #fff;
		width: 350px;
		position: absolute;
		right: 0px;
		top: 50px;
		z-index: 2;
		border: 1px solid $gray;

		
		&.active {
			display: block;
		}

		img {
			border-radius: 50%;
			border: 1px solid $gray;
			display: inline-block;
			position: relative;
			top: .5em;
			left: .5em;
		}

		.name {
			display: inline-block;
			color: $gray;
			position: relative;
			top: -1em;
			left: 1em;
		}

		ul {
			list-style-type: none;
			padding: 0px;
			margin: 0px;
			li {
				border-bottom: 1px rgba($gray, 0.3) solid;
				a {
					height: 40px;
					line-height: 40px; 
					padding-left: 20px;
					display: block;
					text-decoration: none;

					&:hover {
						background: rgba($gray, 0.2);
					}	
				}
			}
		}
	}
}

@media (max-width: 580px) { #user .menu { width: 100%; } }

