.button {
	padding: 10px 20px;
 	background: $blue;
 	color: white;
 	border-color: 1px solid $blue;
 	text-decoration: none;
 	border-radius: 5px;
 	font-weight: bold;

 	i {
 		margin-right: 5px;
 		background: #fff;
 		line-height: 1.2em;
 		height: 1.2em;
 		width: 1.2em;
 		color: $blue;
 		font-size: 20px;
 		border-radius: 50%;
 		border: 1px solid darken($blue, 10%);
 		font-style: normal;
 		display: inline-block;
 		text-align: center;
 	}
}

a {
	color: $blue;
}