.unlogged {
	margin-top: 50px;
	text-align: center;
	text-shadow: 0px 0px 10px #fff;
  	background-image: image-url("background-tablet.jpg");

	h1 {
		margin-bottom: -1px;
		font-weight: lighter;
    font-size: 25px;
    text-indent: 35px;
    margin-bottom: -20px;
	}

	img {
		margin-right: 35px;
	}
}
