// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  min-height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}