<section>
	<ul class="products-list card">
		<% @users.each do |user| %>
			<li>
				<span class="name"><%= user.name %></span>
				<%= user.products.map(&:name).join(" / ") %>
			</li>
		<% end %>
	</ul>
</section>