<ul class="gifts-list card">
	<% @products.each do |product| %>
		<% quantity = product.second.count %>
		<% product 	= product.second.first %>
		<li>
			<span class="img" style="background-image: url(<%= product.image %>)"></span>
			<span class="name"><%= product.name %></span>
			<div class="actions">
				<span><%= link_to :pick, edit_product_path(product) %></span>
		</li>	
	<% end %>
</ul>